/* General Styling */

body {
    background: url(Images/agriculture-barn-countryside-1198507.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-width: 320px) {

    #main-container {
        width: 100%
    }

    /* Header Styling */

    .heading {
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-size: 3rem;
    }

    .logo {
         width: 250px;
         height: 130px; 
    }

    /* Ingredients Row Styling */

    #intro-graph {
        background: rgba(255, 255, 255, .7);
    }

    #ingredient-form {
        background: rgba(255, 255, 255, .7);
    }

    .ing-label {
        
    }

    /* Zip Row Styling */

    #zip-form {
        background: rgba(255, 255, 255, .7);
    }

    #zip-graph {
        background: rgba(255, 255, 255, .7);
    }

    /* Market Display Styling */

    #market-map {
        height: 400px;
    }

    #market-display {
        background: rgba(255, 255, 255, .7);
    }

    /* Footer Styling */

    .footer {
        height: 30px;
        width: 100%;
        background-color: #E6E6E5;
     }

     #footer-text {
         display: inline-block;
         font-size: 1rem;
         color: black;
     }

}

@media only screen and (min-width: 480px) {

    .heading {
        font-size: 5rem;
    }

}

